:root {
  .epHTax {
    --color: #212121;
    --header-color: #212121;
    --header-bgcolor: #f2f2f2;
    --hover-bgcolor: #f8f8f8;
    --highlight-bgcolor: var(--kd-g-color-theme-2);
    --cell-border-horizontal: 1px solid #d9d9d9;

    &.use-outer-border {
      border: 1px solid #d9d9d9;
    }
  }

  .kd-tag {
    background-color: #f2f2f2;
    --kd-c-tag-edit-color-border: #e5e5e5;

    .kd-tag-close-icon {
      color: #999;
    }
  }

  .kd-tree-node-selected {
    background-color: var(--kd-g-color-theme-2) !important;
  }

  .kd-quick-search-prefix .kdicon-search {
    color: #999;
  }

  .kd-card {
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.06);
  }

  .kd-select-icon-arrow,
  .kd-input-suffix .kdicon-search {
    color: #666;
  }

  .kd-tab-pane-text, .kd-form-field-label, .kd-table-header-cell-content, .kd-filter-header-handle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .detail-vertical .kd-tab-pane-text {
    max-width: 90px;
  }

  .kd-quick-search-selection-placeholder {
    width: 150px;
  }

  .kd-tree-root {
    max-width: 100%;
  }

  .kd-tree-node-title {
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
  }
}
