@import 'layouts/reset.less';
@import '../node_modules/@kdcloudjs/kdesign/dist/kdesign.css';

@font-face {
  font-family: 'KINGDEEKB-Bold';
  src: url(../public/fontfamily/KINGDEEKB-Bold.ttf);
}

@font-face {
  font-family: 'KINGDEEKB-Regular';
  src: url(../public/fontfamily/KINGDEEKB-Regular.ttf);
}

@font-face {
  font-family: 'KINGDEEKB-Light';
  src: url(../public/fontfamily/KINGDEEKB-Light.ttf);
}

:root {
  // kdesign-token
  --kd-c-button-sizing-min-width-middle: 85px;
}

body,
html {
  color: #212121;
  overflow: hidden;
  font-family: PingFangSC-Regular, Microsoft YaHei, Microsoft Sans Serif, serif;
}

